.body {
  background-color:#EBEFF1;
}
.form {
  margin-top: 4%;
}
.sidebar {
  position: fixed;
  left: 0px;
  height: 95vh;
}

.card-posts {
  margin-top: 4%;
}

.pt-card {
  margin-top: 1%;
}
.pt-card a {
  color: #394B59;
}
.pt-card a:hover {
  text-decoration: none;
}
.pt-intent-danger {
  margin-left: 1%;
}

.postShow {
  padding-top: 2%;
}

.pt-navbar a:hover {
  text-decoration: none;
}
.pt-navbar-heading {
  color: white;
}
